<table id="admkk_indikb_grid" 
    class="easyui-datagrid" 
    data-options="method: 'GET', border: false, fit:true, pageSize: 20"
    singleSelect="true"
    sortName="id"
    sortOrder="asc"
    url="/admkk/indi/kb/grid_data"
    rownumbers="true"     
    pagination="true">
    <thead>
        <tr>
            <th field="jenis_pelayanan_nama" sortable="true">Jenis Pelayanan</th>
            <th field="nama_indikator" sortable="true">Indikator</th>
            <th field="nilai" sortable="true">Nilai</th>
            <th field="batas_waktu" sortable="true">Batas Waktu</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
$('#admkk_indikb_grid').datagrid({
    view: detailview,
    detailFormatter:function(index,row){
        return '<div class="ddv" style="padding:5px 0"></div>';
    },
    onExpandRow: function(index,row){
        var ddv = $(this).datagrid('getRowDetail',index).find('div.ddv');
        ddv.panel({
            border:false,
            cache:false,
            href:'/admkk/indi/kb/grid_data/child?itemid='+row.id+'&indikator_id='+row.indikator_id,
            onLoad:function(){
                $('#admkk_indikb_grid').datagrid('fixDetailRowHeight',index);
            }
        });
        $('#admkk_indikb_grid').datagrid('fixDetailRowHeight',index);
    }
});
</script>