<table id="adm_kabkot_grid" 
    class="easyui-datagrid" 
    data-options="method: 'GET', border: false, fit:true, pageSize: 20"
    singleSelect="true"
    url="/adm/kabkots/grid/data"
    rownumbers="true" 
    pagination="true">
    <thead>
        <tr>
            <th field="action" formatter="admKabkot.actions" align="center">Action</th>
            <th field="provinsi_id" sortable="true">ID Provinsi</th>
            <th field="provinsi_nama" sortable="true">Nama Provinsi</th>
            <th field="id" sortable="true">ID Kabupaten/Kota</th>
            <th field="kabkot_nama" sortable="true">Nama Kabupaten/Kota</th>
        </tr>
    </thead>
</table>
    