<table id="adm_varx_grid" 
    class="easyui-datagrid" 
    data-options="method: 'GET', border: false, fit:true, pageSize: 20"
    singleSelect="true"
    sortName="id"
    sortOrder="asc"
    nowrap="false"
    url="/adm/varxes/grid/data"
    toolbar="#adm_varx_toolbar"
    pagination="true">
    <thead>
        <tr>
            <th field="action" formatter="admVarx.actions" align="center"></th>
            <th field="id" sortable="true" width="40" align="center">ID</th>
            <th field="nama_bidang" sortable="true" width="150">Bidang</th>
            <th field="jenis_pelayanan_nama" sortable="true" width="150">Jenis Pelayanan</th>
            <th field="nama_indikator" sortable="true" width="350">Indikator</th>
            <th field="nilai_default" sortable="true">Nilai Default (%)</th>
            <th field="batas_waktu_default" sortable="true">Batas Waktu Default</th>
            <th field="rumus" sortable="true">Rumus</th>
        </tr>
    </thead>
</table>
<div id="adm_indikator_toolbar" style="display: table; padding: 5px 10px; width: 100%;">
    <a href="#" class="button small" onclick="admIndikator.createWindow(0);" >
        Tambah
    </a>
</div>

<script type="text/javascript">
$('#adm_varx_grid').datagrid({
    view: detailview,
    detailFormatter:function(index,row){
        return '<div class="ddv" style="padding:5px 0"></div>';
    },
    onExpandRow: function(index,row){
        var ddv = $(this).datagrid('getRowDetail',index).find('div.ddv');
        ddv.panel({
            border:false,
            cache:false,
            href:'/adm/varxes/child?itemid='+row.id+'&bidang_id='+row.bidang_id,
            onLoad:function(){
                $('#adm_varx_grid').datagrid('fixDetailRowHeight',index);
            }
        });
        $('#adm_varx_grid').datagrid('fixDetailRowHeight',index);
    }
});
</script>
    