@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('/fonts/Lato-light.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('/fonts/Lato.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('/fonts/Lato-ultrabold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	font-family: 'Lato',Helvetica,sans-serif,Arial;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
	font-family: 'Lato',Helvetica,sans-serif,Arial;
}

input[type=text], input[type=date], input[type=password], select {
	width: 200px;
	padding: 5px 5px;
	border: 1px solid #ccc;
	vertical-align: middle;
	outline: none;
}

textarea {
	width: 205px;
	height: 100px;
	border: 1px solid #ccc;
}

select {
	width: 212px;
	padding: 5px 1px;
	border: 1px solid #ccc;
	vertical-align: middle;
	outline: none;
}

label {
	width: 100px;
	display: inline-block;
}

.header {
	background-color: #3A539B;
	color: #fff;
	border-color: #ccc;

	#header-title {
		margin-top: 4px;

		h1 {
			font-family: 'Lato',Helvetica,sans-serif,Arial;
			color: #F4D03F;
			font-size: 24px;
			margin: 0;
			margin-top: -7px;
			letter-spacing: -2px;
			font-weight: 400;
			text-transform: uppercase;		
		}

		h2 {
			font-family: 'Lato',Helvetica,sans-serif,Arial;
			color: #ee5315;
			font-size: 14px;
			margin: 0;
			margin-top: -3px;
			letter-spacing: 1px;
			font-weight: 300;	
		}

		h3 {
			font-family: 'Lato',Helvetica,sans-serif,Arial;
			color: #fff;
			font-size: 14px;
			margin: 0;
			margin-top: -1px;
			font-weight: lighter;
			letter-spacing: 1px;
			font-weight: 300;	
		}
	}
}

.panel-header {
	background: #ddd;
	border: 1px solid #ccc;
}

.panel-title {
	background-color: #ddd;
	color: #2d3e50;
}

.accordion {
	background: #eee;
	border: 0;
}

.accordion .accordion-body {
	border-width: 0 0 1px;
	background: #eee;
}

.accordion .accordion-header {
	background: #ddd;
	filter: none;
}

.accordion .accordion-header .panel-tool a:hover {
	background-color: #F4D03F;
	border-radius: 100% 
}

.accordion .accordion-header-selected {
	background-color: #ddd;
	color: #2d3e50;
}

.accordion .accordion-header-selected .panel-title {
	color: #2d3e50;
}

.layout-split-west {
	border-right: 1px solid #ccc; 
}

.layout-split-west {
	border-right: 1px solid #ccc;
}

.panel-header {
	border: 0;
	border-bottom: 1px solid #ccc;
} 

.layout-panel .panel-header .panel-tool a:hover {
	background-color: #F4D03F;
	border-radius: 100% 
}

.layout-expand .panel-header .panel-tool a:hover {
	background-color: #F4D03F;
	border-radius: 100% 
}

.panel-body {
	border: 0;
	border-bottom: 1px solid #ccc;
}

.layout-expand {
	background-color: #ddd;
	border-right: 1px solid #ccc; 
	position: absolute;
	padding: 0px;
	font-size: 1px;
	cursor: pointer;
	z-index: 1;
}

.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner {
	border-color: #ccc;
}

.tabs-header, .tabs-tool {
	background-color: #ddd;
	color: #2d3e50;
}

.window {
	overflow: hidden;
	padding: 5px 0 0 0;
	border-width: 1px;
	border-style: solid;
	background: #aaa;
	border-color: #ccc;
	border-radius: 0;
}

.window .panel-title {
	background-color: #aaa;
	color: #fff;
	border-color: #ccc;
}

.panel-tool a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #aaa;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

/*-- PANEL ICON --*/

.panel-tool a {
	position: relative;
	font-size: 10px;
	opacity: 0.8;
}

.panel-tool-max {
	background-color: #F4D03F;
	background: url('/img/panel/appbar.app.png');
	background-size: cover;
}

.panel-tool-close {
	background: url('/img/panel/appbar.close.png');
	fill: #fff;
	background-size: cover;
}

.panel-tool-collapse {
	background-color: #F4D03F;
	background: url('/img/panel/down-light.png');
	background-size: cover;
}

.panel-tool-min {
	background: url('/img/panel/appbar.minus.png');
	fill: #fff;
	background-size: cover;
}

.panel-tool-close:hover {
	background-color: #F4D03F; 
}

.layout-button-left {
	background: url();
	color: #aaa;
}

.layout-button-left:before {
	position: absolute;
	font-family: FontAwesome;
	top: 0;
	content: "\f053";
	width: 16px;
	height: 16px;
	border-radius: 100%;
	text-align: center;
	line-height: 17px;
	font-weight: lighter;
}

.layout-button-left:hover {
	color: #fff;
}

.layout-button-right {
	background: url();
	color: #aaa;
}

.layout-button-right:before {
	position: absolute;
	font-family: FontAwesome;
	top: 0;
	content: "\f054";
	width: 16px;
	height: 16px;
	border-radius: 100%;
	text-align: center;
	line-height: 17px;
	font-weight: lighter;
}

.layout-button-right:hover {
	color: #fff;
}

.accordion-collapse {
	background: url();
	color: #aaa;
}

.accordion-collapse:before {
	position: absolute;
	font-family: FontAwesome;
	top: 0;
	content: "\f077";
	width: 16px;
	height: 16px;
	border-radius: 100%;
	text-align: center;
	line-height: 14px;
	font-weight: lighter;
}

.accordion-collapse:hover {
	color: #fff;
}

.accordion-expand {
	background: url();
	color: #aaa;
}

.accordion-expand:before {
	position: absolute;
	font-family: FontAwesome;
	top: 0;
	content: "\f078";
	width: 16px;
	height: 16px;
	border-radius: 100%;
	text-align: center;
	line-height: 17px;
	font-weight: lighter;
}

.accordion-expand:hover {
	color: #fff;
}

.accordion-expand {
	background: url();
	color: #aaa;
}

.accordion-expand:before {
	position: absolute;
	font-family: FontAwesome;
	top: 0;
	content: "\f078";
	width: 16px;
	height: 16px;
	border-radius: 100%;
	text-align: center;
	line-height: 17px;
	font-weight: lighter;
}

.accordion-expand:hover {
	color: #fff;
}

.icon-logout {
 	background: url();
	background-color: #F4D03F;
	border: 1px solid #F4D03F;
	border-radius: 100%;
	color: #fff;
	text-align: center;
	height: 12px;
	width: 12px;
	font-size: 8px;
}

.icon-logout:before {
	font-family: FontAwesome;
	top: 0;
	content: "\f08b";
	width: 16px;
	height: 16px;
	border-radius: 100%;
	text-align: center;
	line-height: 12px;
	font-weight: lighter;
}

.tree-node:hover > .icon-logout {
	background-color: #fff;
	color: #F4D03F;
}

.tabs li.tabs-selected a.tabs-inner {
  color: #0E2D5F;
  background: #ccc;
}

.tabs li a.tabs-inner {
	display: inline-block;
	text-decoration: none;
	margin: 0;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	white-space: nowrap;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.tabs li a.tabs-inner, .tabs li a.tabs-inner:hover {
	color: #0E2D5F;
	background-color: #eee;
	background: -moz-linear-gradient(top,#eee 0,#eee 100%);
	background: -o-linear-gradient(top,#eee 0,#eee 100%);
	/* background: linear-gradient(to bottom,#eee 0,#eee 100%); */
	/* background-repeat: repeat-x; */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eee,endColorstr=#eee,GradientType=0);
}

.tabs-p-tool a:hover, .tabs li a:hover.tabs-close, .tabs-scroller-over {
	background-color: #bbb;
}

/*-- End Icon --*/

.window .window-header {
	background: #aaa;
	padding: 2px 4px 6px 6px;
}

.window .window-header .panel-tool {
	right: 4px;
}

.window .window-body {
	border-width: 0px;
	border-style: solid;
	border-top-width: 0px;
}

.window-shadow {
	background: transparent;
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=1,MakeShadow=false,ShadowOpacity=0.2);
}

.panel-body td .datagrid {
	border: 1px solid #ddd;
}

.panel-body .datagrid {
	border: 0;
}

td .datagrid-cell {
	padding: 5px;
}

.textbox {
	border: 1px solid #ccc;
	vertical-align: middle;
	width: 200px;
	padding: 7px 5px;
}

.combo {
	border: 1px solid #ccc;
	width: 200px;
	height: 27px;
	padding: 0;
}

.combo input[type=text]{
	text-align: left;
	vertical-align: middle;
	width: 192px;
	padding-left: 2px;
}

.datebox .combo-arrow {
	background-color: #fff;
}

.button {
	background-color: #F4D03F;
	border: 1px solid #F4D03F;
	color: #fff;
	padding: 5px 20px;
	cursor: pointer;
	outline: none;
}

.button:hover {
	background-color: #fff;
	color: #F4D03F;
}

.button:disabled {
	border: 1px solid #ddd;
	background-color: #ddd;
	color: #fff;
}

.round {
	text-align: center;
	line-height: 20px;
	display: inline-block;
	border-radius: 100%;
	font-size: 14px;
	width: 20px;
	height:20px;
	padding: 0;
	overflow: hidden;
}

.round .fa-pencil-square-o {
	line-height: 22px;
}

.round .fa-trash {
	line-height: 20px;
}

.round-medium {
	text-align: center;
	line-height: 24px;
	display: inline-block;
	border-radius: 100%;
	font-size: 16px;
	width: 24px;
	height: 24px;
	padding: 0;
	overflow: hidden;
}

.round-large {
	text-align: center;
	line-height: 34px;
	display: inline-block;
	border-radius: 100%;
	font-size: 22px;
	width: 34px;
	height: 34px;
	padding: 0;
	overflow: hidden;
}

.easyui-panel .round-large {
	margin-top: 3px;
}

.thumbnail {
	float: left;
	width: 100px;
	height: 120px;
	border: 1px solid #ccc;
	background-color: #eee;
	background-size: cover;
	background-position: top center;
}

input[type=file] {
	width: 100%;
	height: 120px;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.upload-container {
	height: 20px;
	width: 200px;
	width: 200px;
	padding: 5px 5px;
	background-color: #eee;
	border: 1px solid #ddd;
}

.upload-container .nameUpload{
	width: 168px;
	overflow: hidden;
	font-size: 14px;
	color: #aaa;
	white-space: nowrap;
}

.upload-container input[type=file] {
	height: 20px;
	cursor: pointer;
}

.formulir textarea {
	width: 305px;
}

.formulir input[type=text],.formulir input[type=date],.formulir input[type=password],.formulir select {
	width: 300px
}

.menu-header {
	font-size:14px;
	display: table; 
	float: right; 
	margin: 32px 21px 0 0
}

.menu-header #notifikasi {
	font-size: 10px;
	height: 16px;
	width: 16px;
	position: absolute;
	margin: -22px 0 0 80px;
	line-height: 15px;
	background: #ee5315;
	color: #fff;
	cursor: pointer;
	text-align: center;
	border-radius: 100%;
	overflow: hidden;
}

.menu-header span {
	position: relative;
	padding: 0 10px;
}

.menu-header span a{
	color: #fff;
}

.menu-header span a:hover {
	color: #F4D03F;
}

/*-- word --*/

.left {
	float:left;
}

#container-word {
	margin:0 auto;
	width:595px;
	padding:96px;
	background-color:#fff;
}

#header-word {
	width: calc(100%);
	border-bottom: 1px solid #000;
}

#header-word .logo {
	width:calc(15%);
}

#header-word .content {
	width:calc(85%);
}

#header-word .content h1 {
	font-size: 20px;
	margin:0;
	margin-top: -3px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#header-word .content h5 {
	font-size: 10px;
	margin-top: 8px;
	text-align: center;
}

.sub-smenu {
    background-color: #fff;
    color: #000;
    width: calc(100% - 11px);
    padding: 5.5px;
    border-bottom: 1px solid #ddd;
    float: left;
    position: relative;
}

.sub-smenu:hover {
    background-color: #F4D03F;
    color: #fff;
}

/* ------------------ LAINNYA --------------------- */
a {
	text-decoration: none;
}
.dis-table {
	display: table;
}