<div data-options="region:'north'" style="height:50px;">
	<h1>SPM KEMENTERIAN DALAM NEGERI - ALFA 1</h1>
</div>
<div data-options="region:'west',title:'Navigasi',split:true" style="width:200px;" id="west">
	<div id="aa" class="easyui-accordion">
        <div title="Admin" data-options="selected:true" style="padding:10px;">
            <ul class="easyui-tree">
                <li>
                    <span>
                        <a href="#">Indikator</a>
                    </span>
                    <ul>
                        <li>
                            <a href="#" onclick="xcore.addTab('Kesehatan','/admkk/indib?bidang_id=1');">Kesehatan</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Sosial','/admkk/indib?bidang_id=2');">Sosial</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Lingkungan Hidup','/admkk/indib?bidang_id=3');">Lingkungan Hidup</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Pemerintahan Dalam Negeri','/admkk/indib?bidang_id=4');">Pemerintahan Dalam Negeri</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Perumahan Rakyat','/admkk/indib?bidang_id=5');">Perumahan Rakyat</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('PPPA','/admkk/indib?bidang_id=6');">PPPA</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Keluarga Berencana','/admkk/indib?bidang_id=7');">Keluarga Berencana</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Pendidikan','/admkk/indib?bidang_id=8');">Pendidikan</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Pekerjaan Umum dan Penataan Ruang','/admkk/indib?bidang_id=9');">Pekerjaan Umum dan Penataan Ruang</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Ketenaga Kerjaan','/admkk/indib?bidang_id=10');">Ketenaga Kerjaan</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Komunikasi dan Informasi','/admkk/indib?bidang_id=11');">Komunikasi dan Informasi</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Ketahanan Pangan','/admkk/indib?bidang_id=12');">Ketahanan Pangan</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Kesenian','/admkk/indib?bidang_id=13');">Kesenian</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Perhubungan','/admkk/indib?bidang_id=14');">Perhubungan</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Penanaman Modal','/admkk/indib?bidang_id=15');">Penanaman Modal</a>
                        </li>
                        <li>
                            <a href="#" onclick="xcore.addTab('Hitung','/admkk/hitung');">Rumus</a>
                        </li>
                    </ul>
                </li>
			</ul>
        </div>
        <div title="Akun" style="padding:10px;">
            <ul class="easyui-tree">
                <li>
                    <span>
                        <a href="#" onclick="xcore.keluar();">Keluar</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div data-options="region:'center'" style="background:#eee;">
	<div id="main_tab" class="easyui-tabs" data-options="fit:true,border:false"></div>
</div>

<div id="theForm"></div>


<script type="text/javascript">
var xcore = {
	addTab: function(title,url,id) {
        if ($('#main_tab').tabs('exists', title)) {
            $('#main_tab').tabs('select', title);
        } else {
            var content = 'added tab';
            $('#main_tab').tabs('add', {
                id: id,
                title: title,
                content: content,
                closable: true,
                href: url
            });
        }
    },
    keluar: function() {
        $.ajax({
            url: '/users/sign_out',
            type: 'DELETE',
            success: function() {
                window.location.reload();
            }
        });
    }
};
</script>